.friendListItem {
  background-color: rgba(241, 239, 237, 0.166);
  padding: 12px;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.425);
  box-shadow: 0 0 10px rgba(96, 165, 250, 0.6), 0 0 20px rgba(52, 211, 153, 0.5),
    0 0 30px rgba(245, 158, 11, 0.5);

  transition: transform 0.2s ease, box-shadow 0.2s ease;

  & .friendImage {
    transition: transform 0.3s ease;
  }

  & .friendName {
    font-weight: 700;
  }

  & .friendOnline {
    color: rgb(4, 207, 4);
  }

  & .friendOffline {
    color: red;
  }
}

.friendListItem:hover {
  transform: translateY(-10px);
  box-shadow: rgba(255, 255, 255, 0.527) 0px 7px 29px 0px;
  cursor: pointer;
  border: none;
}

.friendListItem:hover .friendImage {
  animation: wiggle 0.5s ease;
}

@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(5deg);
  }
  75% {
    transform: rotate(-3deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
